html {
  font-size: 16px;
  line-height: 1.5;
}

@media (min-width: 38rem) {
  html {
    font-size: 16px;
  }

  div.content {
    max-width: 50%;
  }
}

.contributions img {
  margin: 20px 5px;
  float: left;
}

.sidebar-about h1 {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-size: 2.25rem;
}

.clearfix {
  clear: both
}
